{% extends 'app_gestor/base.html' %}
{% load static %}

{% block title %}
Home | StockGestor
{% endblock title %}

{% block navbar %}
<nav class="navbar navbar-expand-lg sticky-top">
    <div class="container-fluid">
        <a class="navbar-brand me-auto" href="#">
            <img src="{% static 'app_gestor/img/logo_w.png' %}" width="200" height="35">
        </a>
        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar"
            aria-labelledby="offcanvasNavbarLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Logo</h5>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <ul class="navbar-nav justify-content-center flex-grow-1 pe-3">
                    <li class="nav-item">
                        <a class="nav-link mx-lg-2 active" href="{% url 'cadastro_produto' %}">Produtos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link mx-lg-2" href="{% url 'logado' %}">Fornecedores</a>
                    </li>

                </ul>
            </div>
        </div>
        <div class="dropdown">
            <button class="btn btn-default dropdown-toggle" type="button" id="menu1" data-toggle="dropdown">
                <!-- <img src="https://i.stack.imgur.com/KKhkr.png?s=128&g=1" alt="alguma imagem"> -->
            </button>
        </div>
    </div>
</nav>
{% endblock navbar %}

{% block content %}
<main>
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <div class="border border-dark p-3 rounded">
                    <ul class="list-group text-center">
                        <a href="{% url 'lista_produtos' %}">
                            <button type="button"
                                class="btn btn-outline-primary btn-block btn-fixed-width">Estoque</button>
                        </a>
                        <a href="{% url 'cadastro_produto' %}">
                            <button type="button"
                                class="btn btn-outline-primary btn-block btn-fixed-width">Cadastro</button>
                        </a>
                    </ul>
                </div>
            </div>
            <div class="col-10">
                <form class="row g-5 mt-3 " method="POST">
                    {% csrf_token %}
                    <div class="col-12 my-3">
                        <label for="nome_produto" class="form-label">Nome do produto</label>
                        <input type="text" name="nome_produto" class="form-control"
                            placeholder="Digite o nome do produto" maxlength="40" required>
                    </div>
                    <div class="col-4 my-3">
                        <label for="ref" class="form-label">Referência</label>
                        <input type="text" name="ref" class="form-control" placeholder="Digite a referência"
                            maxlength="15" required>
                    </div>
                    <div class="col-4 my-3">
                        <label for="marca" class="form-label">Marca</label>
                        <input type="text" name="marca" class="form-control" placeholder="Digite a marca" maxlength="15"
                            required>
                    </div>
                    <div class="col-4 my-3">
                        <label for="categoria" class="form-label">Categoria</label>
                        <input type="text" name="categoria" class="form-control" placeholder="Digite a categoria"
                            maxlength="15" required>
                    </div>
                    <div class="col-8 my-3">
                        <label for="localizacao" class="form-label">Localização</label>
                        <input type="text" name="localizacao" class="form-control" placeholder="Digite a localização"
                            maxlength="40" required>
                    </div>
                    <div class="col-4 my-3">
                        <label for="fornecedor" class="form-label">Fornecedor</label>
                        <input type="text" name="fornecedor" class="form-control" maxlength="2" required>
                    </div>
                    <div class="col-md-8 my-3">
                        <label for="data_entrada" class="form-label">Data de entrada</label>
                        <input type="date" name="data_entrada" class="form-control" required>
                    </div>
                    <div class="col-4 my-3">
                        <label for="validade" class="form-label">Validade</label>
                        <input type="date" name="validade" placeholder="(xx)x-xxxx-xxxx" class="form-control"
                            patern="([0-9]{2})[0-9]{1}-[0-9]{4}-[0-9]{4}" required>
                    </div>
                    <div class="col-4 my-3">
                        <label for="codigo" class="form-label">Código</label>
                        <input type="text" name="codigo" class="form-control" maxlength="2" required>
                    </div>
                    <div class="col-4 my-3">
                        <label for="codigo_barras" class="form-label">Código de barras</label>
                        <input type="text" name="codigo_barras" class="form-control" maxlength="2" required>
                    </div>
                    <div class="col-4 my-3">
                        <label for="preco_compra" class="form-label">Preço de compra</label>
                        <input type="text" name="preco_compra" class="form-control" maxlength="2" required>
                    </div>
                    <div class="col-4 my-3">
                        <label for="descricao" class="form-label">Descrição</label>
                        <input type="text" name="descricao" class="form-control" maxlength="2" required>
                    </div>
                    <div class="col-12 my-3 d-flex justify-content-center">
                        <a href="{% url 'lista_produtos' %}">
                            <button type="submit" class="btn btn-success">Salvar</button>
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</main>

{% endblock content %}