{% extends 'app_gestor/base_logado.html' %}
{% block title %}Produto | Lista{% endblock title %}
{% block navbar %}
<li class="nav-item">
    <a class="nav-link mx-lg-2 active" aria-current="page" href="{% url 'pagina-lista_produtos' %}">Produtos</a>
</li>
<li class="nav-item">
    <a class="nav-link mx-lg-2" href="{% url 'pagina-lista_fornecedores' %}">Fornecedores</a>
</li>
<li class="nav-item">
{% endblock navbar %}
{% block content %}
<main>
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <div class="border border-dark p-3 rounded">
                    <ul class="list-group text-center">
                        <a class="mt-2 mb-2"href="{% url 'pagina-lista_produtos' %}">
                            <button type="button"
                                class="btn btn-outline-primary active btn-block btn-fixed-width">Estoque</button>
                        </a>
                        <a class="mb-2" href="{% url 'pagina-cadastro_produto' %}">
                            <button type="button"
                                class="btn btn-outline-primary btn-block btn-fixed-width">Cadastro</button>
                        </a>
                        <a class="mb-2" href="{% url 'pagina-valor_estoque' %}">
                            <button type="button"
                                class="btn btn-outline-primary btn-block btn-fixed-width">Valor do estoque</button>
                        </a>
                    </ul>
                </div>
            </div>
            <div class="col-10">
                <form class="row row-cols-lg-auto mb-3 justify-content-center" method="POST">
                    {% csrf_token %}
                    <div class="col-12">
                      <select class="form-select" name="fornecedor_escolhido">
                        <!-- <option selected>Selecione o Fornecedor</option> -->
                        <option selected disabled>Escolha o Fornecedor</option>
                        <option>Todos</option>
                        {% for fornecedor in fornecedores %}
                        <option>{{ fornecedor.fornecedor}}</option>
                        {% endfor %}
                      </select>
                    </div>
                   <div class="col-12">
                      <button type="submit" class="btn btn-primary">Filtrar</button>
                    </div>
                </form>
                <div class="row">
                    {% if filtro != 0 and fornecedor_filtro != "Todos"%}  
                    <h3>Fornecedor: {{ fornecedor_filtro}}</h3>
                    {% endif %}
                    <table class="table table-dark table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>Código</th>
                                <th>Produto</th>
                                <th>Quantidade</th>
                                <th>Preço unitário</th>
                                <!-- TODO: add restante das colunas -->
                            </tr>
                        </thead>
                        <tbody>
                        {% if filtro == 0 or fornecedor_filtro == "Todos" %}
                            {% for produto in produtos %}
                                    <tr>
                                        <td>{{ produto.codigo }}</td>
                                        <td>{{ produto.nome_produto }}</td>
                                        <td>{{ produto.quantidade }}</td>
                                        <td>R${{ produto.preco_compra }}</td>
                                        <!-- TODO: add restante das colunas -->
                                    </tr>
                            {% endfor %}  
                        {% else %}
                            {% for produto in produtos %}
                                {% if fornecedor_filtro == produto.fornecedor %}
                                    <tr>
                                        <td>{{ produto.codigo }}</td>
                                        <td>{{ produto.nome_produto }}</td>
                                        <td>{{ produto.quantidade }}</td>
                                        <td>R${{ produto.preco_compra }}</td>
                                        <!-- TODO: add restante das colunas -->
                                    </tr>
                                {% endif %}
                            {% endfor %}
                        {% endif %} 
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock content %}