<!-- TODO: chamar bases-->
{% extends 'app_gestor/base.html' %}
{% load static %}

{% block title %}
Fornecedor | Lista
{% endblock title %}

{% block navbar %}
<nav class="navbar navbar-expand-lg sticky-top">
    <div class="container-fluid">
        <a class="navbar-brand me-auto" href="#">
            <img src="{% static 'app_gestor/img/logo_w.png' %}" width="200" height="35">
        </a>
        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Logo</h5>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <ul class="navbar-nav justify-content-center flex-grow-1 pe-3">
                    <li class="nav-item">
                        <a class="nav-link mx-lg-2" href="{% url 'pagina-cadastro_produto' %}">Produtos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link mx-lg-2 active" href="{% url 'pagina-lista_fornecedores' %}">Fornecedores</a>
                    </li>

                </ul>
            </div>
        </div>
        <div class="dropdown">
            <button class="btn btn-default dropdown-toggle" type="button" id="menu1" data-toggle="dropdown">
                <!-- <img src="https://i.stack.imgur.com/KKhkr.png?s=128&g=1" alt="alguma imagem"> -->
            </button>
        </div>
    </div>
</nav>
{% endblock navbar %}
{% block content %}
<!-- TODO: estética da listagem-->
    <main>
        <div class="container-fluid">
            <div class="row">
                <div class="col">
                    <div class="border border-dark p-3 rounded">
                        <ul class="list-group text-center">
                            <a href="{% url 'pagina-lista_fornecedores' %}">
                                <button type="button"
                                    class="btn btn-outline-primary active btn-block btn-fixed-width">Fornecedores</button>
                            </a>
                            <a href="{% url 'pagina-cadastro_fornecedor' %}">
                                <button type="button"
                                    class="btn btn-outline-primary btn-block btn-fixed-width">Cadastro</button>
                            </a>
                        </ul>
                    </div>
                </div>
                <div class="col-10">
                    <table class="table table-dark table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>Nome</th>
                                <th>CNPJ</th>
                                <th>Endereço</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for fornecedor in fornecedores %}
                            <tr>
                                <td>
                                    <a href="{% url 'deleta-fornecedor' fornecedor.id %}">
                                        <img src="{% static 'app_gestor/img/pngwing.com.png' %}" width="25" height="25">
                                    </a>
                                    {{ fornecedor.nome_empresa }}
                                </td>
                                <td>{{ fornecedor.cnpj }}</td>
                                <td>{{ fornecedor.endereco }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </main>
    
    {% endblock content %}