<!-- TODO: chamar bases-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Produtos</title>
</head>
<!-- TODO: estética da listagem-->
<body>
    <h1>Lista de Produtos</h1>
    <table>
        <thead>
            <tr>
                <th>Nome do Produto</th>
                <th>Referência</th>
                <!-- TODO: add restante das colunas -->
            </tr>
        </thead>
        <tbody>
            {% for produto in produtos %}
                <tr>
                    <td>{{ produto.nome_produto }}</td>
                    <td>{{ produto.ref }}</td>
                    <!-- TODO: add restante das colunas -->
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
