{% extends 'app_gestor/base_logado.html' %}
{% block title %}Produto | Atualizar{% endblock title %}
{% block navbar %}
    <li class="nav-item">
        <a class="nav-link mx-lg-2 active" aria-current="page" href="{% url 'pagina-lista_produtos' %}">Produtos</a>
    </li>
    <li class="nav-item">
        <a class="nav-link mx-lg-2" href="{% url 'pagina-lista_fornecedores' %}">Fornecedores</a>
    </li>
    <li class="nav-item">
{% endblock navbar %}
{% block content %}
<main>
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <div class="border border-dark p-3 rounded">
                    <ul class="list-group text-center">
                        <a class="mt-2 mb-2" href="{% url 'pagina-lista_produtos' %}">
                            <button type="button"
                                class="btn btn-outline-primary btn-block btn-fixed-width">Estoque</button>
                        </a>
                        <a class="mb-2" href="{% url 'pagina-cadastro_produto' %}">
                            <button type="button"
                                class="btn btn-outline-primary btn-block btn-fixed-width">Cadastro</button>
                        </a>
                        <a class="mb-2" href="{% url 'pagina-valor_estoque' %}">
                            <button type="button"
                                class="btn btn-outline-primary btn-block btn-fixed-width">Valor do estoque</button>
                        </a>
                    </ul>
                </div>
            </div>
            <div class="col-10">
                {% if messages %}
                                 <ul class="messages">
                                     {% for message in messages %}
                                         <li {% if message.tags %}class="alert alert-{{message.tags}}"{% endif %}>
                                             {{message}}
                                         </li>
                                     {% endfor %}
                                 </ul>
                     {% endif %}
                <form class="row g-1 mt-3 " method="POST">
                    {% csrf_token %}
                    <div class="col-12 my-3">
                        <label for="nome_produto" class="form-label">Nome do produto</label>
                        <input type="text" name="nome_produto" class="form-control"
                            value="{{ produto.nome_produto }}" maxlength="40" required>
                    </div>
                    <div class="col-4 my-3">
                        <label for="ref" class="form-label">Referência</label>
                        <input type="text" name="ref" class="form-control" value="{{ produto.ref }}"
                            maxlength="15" required>
                    </div>
                    <div class="col-4 my-3">
                        <label for="marca" class="form-label">Marca</label>
                        <input type="text" name="marca" class="form-control" value="{{ produto.marca }}" maxlength="15"
                            required>
                    </div>
                    <div class="col-4 my-3">
                        <label for="categoria" class="form-label">Categoria</label>
                        <input type="text" name="categoria" class="form-control" value="{{ produto.categoria }}"
                            maxlength="15" required>
                    </div>
                    <div class="col-6 my-3">
                        <label for="codigo_barras" class="form-label">Código de barras</label>
                        <input type="text" name="codigo_barras" class="form-control" maxlength="13" value="{{ produto.codigo_barras }}" required>
                    </div>
                    <div class="col-3 my-3">
                        <label for="validade" class="form-label">Validade</label>
                        <input type="text" name="validade" class="form-control" value="{{ produto.validade }}" required>
                    </div>
                    <div class="col-3 my-3">
                        <label for="fornecedor" class="form-label">Fornecedor</label>
                        <input type="text" name="fornecedor" class="form-control" value="{{ produto.fornecedor }}" required>
                    </div>
                    <div class="col-3 my-3">
                        <label for="codigo" class="form-label">Código</label>
                        <input type="text" name="codigo" class="form-control" value="{{ produto.codigo }}" maxlength="8" required>
                    </div>
                    <div class="col-3 my-3">
                        <label for="localizacao" class="form-label">Localização</label>
                        <input type="text" name="localizacao" class="form-control" value="{{ produto.localizacao }}" axlength="3" required>
                    </div>
                    <div class="col-3 my-3">
                        <label for="quantidade" class="form-label">Quantidade</label>
                        <input type="text" name="quantidade" class="form-control" maxlength="4" value="{{ produto.quantidade }}" required>
                    </div> 
                    <div class="col-3 my-3">
                        <label for="preco_compra" class="form-label">Preço de compra</label>
                        <input type="text" name="preco_compra" class="form-control" maxlength="8" value="{{ produto.preco_compra }}" required>
                    </div>
                    <div class="col-6 my-3 ms-auto me-auto">
                        <label for="descricao" class="form-label">Descrição</label>
                        <input type="text" name="preco_compra" class="form-control" maxlength="100" value="{{ produto.descricao }}" required>
                        <!-- <textarea class="form-control" name="descricao" rows="3" value="{{ produto.descricao }}" maxlength="100"></textarea> -->
                    </div>
                </form>
            </div>
        </div>
    </div>
</main>
{% endblock content %}