.login-button {
    background-color: #22a0de;
    color: #fff;
    font-size: 14px;
    padding: 8px 20px;
    border-radius: 50px;
    text-decoration: none;
    transition: 0.3s background-color;
}

.login-button:hover {
    background-color: #26b6fd;
}

.navbar {
    background: #fff;
    height: 70px;
    margin: 20px;
    border-radius: 20px;
    padding: 0.25rem;
}

.navbar-toggler {
    border: none;
    font-size: 1.25rem;
}

.navbar-toggler:focus, .btn-close:focus {
    box-shadow: none;
    outline: none;

}

.nav-link {
    color: #666777;
    font-weight: 500;
    position: relative;
}

.navbar-link:hover, .nav-link.active {
    color: #000;

}

.nav-link::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 2px;
    background-color: #22a0de;
    visibility: hidden;
    transition: 0.3s ease-in-out;
}

.nav-link:hover::before {
    width: 100%;
    visibility: visible;
}

main {
    height: 400vh;
}

#bkg {
    background-image: url(bkg.png) no-repeat center;
    background-size: cover;
    width: 100%;
    height: auto;
}

.hero-section::before {
    background-color: rgba(0, 0, 0, 0.6);
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}